<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Listado de Empresas con Tarjetas</title>
</head>

<body>
    <br>
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr><h3>Listado de Empresas con Tarjetas</h3></tr>
            <form method="GET" id="listCompanyBusinessCard" action="business/{% url 'BusineesCardList' %}"novalidate>
                <tr>
                    <td>Empresa</td>
                    <td>
                        <select id="company" name="company" class="" style="width:400px;" class="dropdown-toggle">
                            {% for result in company %}
                                <option value="{{ result.id }}">{{ result.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button type="submit" class="btn btn-primary">Buscar Tarjetas</button></td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>