<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Asignar Token a Empresa</title>
</head>

<body>
    <br>
    <div class="container-fluid">
        <table class="table table-bordered">
            <tr><h3>Empresa</h3></tr>
            <form method="post" id="saveCompany" action="{% url 'TokenCompany' %}"novalidate>
                {% csrf_token %}
                <tr>
                    <td>Seleccione</td>
                    <td>
                        <select id="company" name="company" class="" style="width:400px;" class="dropdown-toggle">
                            {% for result in company %}
                                <option value="{{ result.id }}">{{ result.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button type="submit" class="btn btn-primary">Generar Token</button></td>
                </tr>
            </form>
        </table>
    </div>
</body>
</html>